.box15{
    margin: 40px 180px 0 250px;
    width: 1000px;
    min-height: 500px;
    padding: 10px;
    position:absolute;
    background: -webkit-gradient(linear, 100% 100%, 50% 10%, from(#fff), to(#f3f3f3), color-stop(.1,#fff));
    border: 1px solid #ccc;
    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0, 0.1);
    -webkit-border-bottom-right-radius: 60px 5px;
    
}

.box15:before{
    content: '';
    width: 98%;
    z-index:-1;
    height: 100%;
    padding: 0 0 1px 0;
    position: absolute;
    bottom:0; 
    right:0;
    background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#fff), to(#f9f9f9), color-stop(.1,#fff));
    border: 1px solid #ccc;
    -webkit-box-shadow: 1px 1px 8px rgba(0,0,0, 0.1);
    -webkit-border-bottom-right-radius: 60px 5px;
    -webkit-transform: skew(2deg,2deg)
                        translate(3px,8px)
}
.box15:after{
    content: '';
    width: 98%;
    z-index:-1;
    height: 98%;
    padding: 0 0 1px 0;
    position: absolute;
    bottom:0; 
    right:0;
    background: -webkit-gradient(linear, 0% 20%, 0% 100%, from(#f3f3f3), to(#f6f6f6), color-stop(.1,#fff));
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0, 0.1);
    -webkit-transform: skew(2deg,2deg)
                        translate(-1px,2px)
}

.box15_ribbon{
    position:absolute;
    top:0; 
    left: 0;
    width: 130px;
    height: 40px;
    background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1,rgba(0, 0, 0, 0.2)));
    border-left: 1px dashed rgba(0, 0, 0, 0.1);
    border-right: 1px dashed rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(-30deg) skew(0,0) translate(-30px,-20px);
}

p{ 
    margin-top: 15px;
    text-align: justify;
}

h1{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px; 
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
/* 
/////////////////////////////////////////////////////////////////////////////// */
/* .toggle-btn{
	display: inline-block;
	width: 80px;
	line-height:60px;
	font-size: 1em;
	text-align: center;
	padding: 0 40px;
	margin-right:20px;
	text-decoration: none;
	color: black;
	background-color: #ccc;
	transition: all 0.5s ease-in-out;
}

.toggle-btn:hover{
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.4);
	color: white;
	transition: all 0.5s ease-in-out;
	background-color:red;
}

.highlight{
	color: white;
	transition: all 0.5s ease-in-out;
	background-color:red;
} */

body{
	font-family: Arial;
}

#countdown{
	overflow:hidden;
	height:100px;
    position:absolute; 
}
#countdown ul{
	padding:0;
	margin:0;
} 
#countdown ul li{
	display: inline-block;	
	font-size: 45px;
	text-align: center;
	line-height:100px;
	position:relative;
}